{% extends 'layout_boxed.html.twig' %}

{% block title %}Weather Forecast System{% endblock %}

{% block content %}
    <h1>Weather Forecast System</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Maecenas consectetur fermentum nisl, et bibendum magna accumsan sit amet.</p>
    <p>Donec egestas lorem odio, vel ullamcorper nisl porttitor eget.</p>
    <p>Nullam tristique nunc eu sagittis ullamcorper. </p>
    <p>Etiam porttitor venenatis quam non aliquet. </p>
    <p>Nam quis sem id dolor accumsan ullamcorper sed et dui. </p>
    <p>ilisis interdum orci, rhoncus aliquet mi luctus venenatis.</p>
{% endblock %}
